body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: lavender;
}

.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calculator input[type="text"] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 36px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
button {
  height: 50px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
}
.correct {
  background-color: #f39c12;
  color: white;
  grid-column: span 1;
}

.calculator button:hover {
  background-color: #39793c;
}
.calculator button.operator {
  background-color: #f39c12;
}
.calculator button.operator:hover {
  background-color: #c97405;
}
.calculator button.reset {
  background-color: #e9301c;
  grid-column: span 3;
}
.calculator button.reset:hover {
  background-color: #8f1c0d;
}
.calculator button.equals {
  background-color: #3498db;
}
.calculator button.equals:hover {
  background-color: #21618c;
}
